img {
    max-height: 50px;
    width: auto;
}

tr:nth-child(odd) {
    background: lightgray;
}

tr:nth-child(even) {
    background: darkgray;
}

.product-img{
    text-align: center;
    padding: 10px;
}

.product-title{
    width: 400px;
    padding: 10px;

}
.product-price{
    width: 80px;
    padding: 10px;
    text-align: center;

}
.product-add-to-cart{
    width: 100px;
    padding: 10px;
    text-align: center;
}