#products-table{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

img {
    max-height: 70px;
    width: auto;
}

.product-img{
    text-align: center;
    padding: 10px;
    width: 150px;
}

.product-title{
    width: 400px;
    padding: 10px;

}
.product-price{
    width: 80px;
    padding: 10px;
    text-align: center;

}
.product-add-to-cart{
    width: 100px;
    padding: 10px;
    text-align: center;
}