#table-header{
    width: 900px;
    margin: auto;
    padding: 10px;
}
#category-container{
    text-align: left;
}

#cart-link{
    text-align: right;
}

#pagination{
    padding: 15px;
    font-size: 20px;
}

#page-btn{
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
}

#page-btn-on{
    padding-left: 20px;
    padding-right: 20px;
}

#cart-icon{
    vertical-align: bottom;
    max-height: 25px;
    width: auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#cart-count{
    background-color: orangered;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-right: 5px;
    border-radius: 5px;

}