html {
    font-family: 'Open Sans', sans-serif;
    background-color: lightgray;
    font-size: 18px;
    text-align: center;
}

button {
    background: none;
    border: none;
    color: orangered;
    font-size: 20px;
}

button:hover {
    background: none;
    border: none;
    font-size: 20px;
    color: orange;
    cursor: pointer;
}

h1 {
    color: orange;
    font-size: 46px;
}

h2 {
    color: orangered;
    font-size: 30px;
    text-decoration: underline;
}

#no-items{
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}

#empty-cart{
    background-color: white;
    width: 800px;
    border-radius: 5px;
    margin: auto;
    padding: 30px;
}